<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>
<ul class="inline">
    <li><a href="http://repository.james.richardson.name/releases/name/richardson/james/bukkit/hearthstone/{{ page.title }}/hearthstone-{{ page.title }}.jar"><button class="btn btn-primary" type="button">Download</button></a></li>
    <li><a href="https://github.com/grandwazir/Hearthstone/tree/v{{ page.title }}"><button class="btn btn" type="button">Source</button></a></li>
</ul>
<div class="row-fluid">
  <div class="span12">
    {{ content }}
  </div>
</div>
