<div class="page-header">
  <h1>{{ page.title }} {% if page.release-date %} <small>Released on {{ page.release-date | date_to_long_string }}</small>{% endif %}</h1>
</div>
<ul class="inline">
    <li><a href="http://repository.james.richardson.name/releases/name/richardson/james/bukkit/ban-hammer/{{ page.title }}/ban-hammer-{{ page.title }}-shaded.jar"><button class="btn btn-large btn-primary" type="button">Download</button></a></li>
    <li><a href="https://github.com/grandwazir/{{ site.package | capitalize }}/tree/v{{ page.title }}"><button class="btn btn-large" type="button">Source</button></a></li>
</ul>
<div class="row-fluid">
  <div class="span12">
    {{ content }}
  </div>
</div>
